<main class="px-4 py-20 sm:px-6 lg:px-8 relative">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <.navbar current_path={@current_path} />
    <%= @inner_content %>
  </div>
</main>
